*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #e3e3e3;
}

#container{

    width: 1000px;
    margin: auto auto;
    margin-bottom:10px ;

}
nav{
    background-color: #0893e3;
}
nav > a{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    padding: 10px 10px 10px 30px;
    float: left;

}

#navbar > ul{

    float: right;
    list-style: none; 
}
#navbar > ul> li{
    display: inline-block;
    line-height: 60px;
    padding: 0px 20px;
}
#navbar > ul:last-child{
    padding-right: 100px;
}
#navbar > ul> li>a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
#navbar > ul> li:hover{
    background-color: black;
}

#main-banner{
    height: 400px;

}


#main-banner > img{
    height:400px;
    width: 100%;
    object-fit: cover;
}

nav::after{
    content: " ";
    display: block;
    clear: both;
    *zoom:1;
}
#container::after{
    content: " ";
    display: block;
    clear: both;
    *zoom:1;
}

#services{
    background-color: #fff;
}

#services > h1{
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

.col{       
    width: 300px;
    text-align: center;
    margin-left: 20px;
    padding-bottom: 30px;
    border-right:  #e3e3ee 2px solid;
    float:right;
}
.col:nth-child(2){border-right: none;}
.col>h3{color: gray;}
.col>h3,i,p,a{
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.col>a{
    text-decoration: none;
    background-color: #0893e3;
    color: #fff;
    margin-top: 10px;
    border-radius: 20px;
    padding:5px 8px 6px 8px;
}
.col>a:hover{background-color: black;}
#services::after{
content: " ";
display: block;
clear: both;
*zoom:1;
}

.customer{
    background-color: #0893e3;
    padding: 20px;
    text-align: center;
    color: #fff;

}
.customer>h1{
    padding-bottom: 10px;
    font-size: 30px;
}
.customer>img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    object-fit: cover;
    border: #fff solid 2px;
    margin-bottom: 20px;

}
.customer>p{
    text-align: center;

    width: 250px;
    margin: auto;
    font-size: 17px;
    margin-bottom: 20px;
}
.customer>a{

    padding: 6px 18px;
    color: #fff;
    font-size: 17px;
    border:solid #fff 1px; 
    text-decoration: none;



}

.customer>a:hover{
    background-color: black;
    border:solid rgb(0, 0, 0) 1px;

}

footer{
    background-color: black;
    text-align: center;
    padding: 8px;

}
footer>small{
    color: #fff;
    font-size: 17px;

}
footer > small > a{
    text-decoration: none;
    color: #fff;
}






























/********************************************** Media Query for  Mobile Design ****************************************************************/ 


@media (max-width:400px){

    #container{
        font-size: 55%;
        width: 100vw;    
    }

 
   
/********************************************** Services ****************************************************************/ 
#services > h1{
    font-size: 3.1rem;
    font-family:'Times New Roman', Times, serif;
    padding-top: 20vh;
    color:#0893e3;

}

.col{       
    width: 100vw;
    text-align: center;
    margin: 1vw;
    padding-bottom: 10vh;
    border-right:none;
    float:none;
    clear: both;
}

.col>h3,i,p,a{
    margin-bottom: 5vh;
    padding: 2vw 5vw ;
    
    font-size: 5vw;
}
.col>h3{
    font-size: 8vw;
    margin-bottom: 1vh;
    color: crimson;
}
.col>i{
    
    font-size: 3rem;
}
.col>a{
    
    padding:10px 18px;
}


/********************************   Navbar *************************************************/



nav > a{
    
    font-size: 30px;
   text-align: center;
    padding: 3vh 0vw 1vh 19vw;
    float: left;
    margin-bottom: 1vh;

}

/**------------------------------  Menu  ------------------------- ***/



#navbar > ul{

    float: right;
    list-style: none; 
    margin: 0;
}


#navbar > ul> li{
    display: inline-block;
    line-height: 0px;
    padding: 3.8vh 0.2vw;
    margin:0 -2vw;
}


#navbar > ul:last-child{
    padding-right: 2vw;
}


#navbar > ul> li>a{
    text-decoration: none;
   
    font-size: 5.2vw;
}









/************************************  Customers  ***************************************/
.customer > p{
text-align: center;
    padding-left: 2vw ;
    padding-right: 2vw ;
    width: 100%;
    
}

.customer a{
    
    font-size: 1.4rem;
}



/********************************  footer  ***************************************/
footer > small >a::before{
    content: "\a";
    white-space: pre;
}

footer > small >a:hover{
    color:gold;
    font-weight: bold;
}










/*-----------------------------------Container--------------------------------------*/
#container{

    width: 100vw;
    margin: auto auto;
    margin-bottom:0px ;

}
}





















